.clinerules-architect
.clinerules-ask
.clinerules-code
memory-bank/
.gitignore

# Typical Python files
__pycache__/
*.py[cod]
*$py.class
# Virtual environment folders
venv/
ENV/
env/
# Distribution / packaging
build/
dist/
*.egg-info/